extends ../layout/app
block css_external
  link(rel='stylesheet',href='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet',href='/fonts/iconic/css/material-design-iconic-font.min.css')
  link(rel='stylesheet',href='/stylesheets/eyescan.css')
  link(rel='stylesheet',href='/stylesheets/amsify.suggestags.css')
  script(src='/javascripts/isotope.pkgd.min.js')
  
  block eyescanJS
  
block content
  div.container-fluid.bg-dark.p-4
    block contentEyescan
    
  
