extends ../layout/app
block css_external
  link(rel='stylesheet',href='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet',href='/fonts/iconic/css/material-design-iconic-font.min.css')
  link(rel='stylesheet',href='/stylesheets/eyescan.css')
  link(rel='stylesheet',href='/stylesheets/amsify.suggestags.css')
  script(src='/javascripts/isotope.pkgd.min.js')
  
  block eyescanJS
  
block content
  div.container-fluid.p-4.h-100
   nav.navbar.navbar-expand-sm.bg-light.navbar-light.mb-2.rounded
     ul.navbar-nav
      li.nav-item.active
       a.nav-link HOME	      
      li.nav-item
       a.nav-link Link	      
      li.nav-item
       a.nav-link Link	      
      li.nav-item
       a.nav-link Disabled
    block contentEyescan
    
  
